#Clash Dashboard
#https://clash.razord.top/
#Yet Another Clash Dashboard
#http://yacd.haishan.me/
#以下设置地址 开头需要包含http或者https
clash_dashboard=

#订阅地址 开头需包含http或者https
sub_link=

#下载器类型，可选项 wget curl axel 需要自己的发行版有对应指令
dl_engine=axel